
<h1>Movies</h1>
<ul>
  <% movies.each do |movie| %>
    <li>
      <%= link_to movie.title, movie %> by <%= movie.director.name %>
    </li>
  <% end %>
</ul>
<%= button_to "Add new movie", new_movie_path, method: :get %>